.header{
    height: 35vh;
    background-image: url("../../assets/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    align-items: center;
    gap:2rem
}

.header h1{
    font-family: var(--font-family-p);
}

